nav {
  display: block;
  padding: 10px 20px;
  a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    &:hover {
      color: aquamarine;
    }
  }
  font-size: 0.8em;
  border-radius: 3px;
  background: gray;
}