<form [formGroup]="form">
  <label>設定名</label>

  <simple-line-input
    [name]="'name'"
    (onChanged)="handleNameChanged()"
  ></simple-line-input>

  <label>期間</label>
  <term-editor
    [name]="'term'"
    (onChanged)="handleTermChanged($event)"
  ></term-editor>


  <label>アカウントと予算</label>
  <budgeted-account-selector
    [form]="form"
    [accounts]="accounts"
  ></budgeted-account-selector>

  <simple-action-button
    [label]="labels.save"
    (onAction)="handleSaveAction()"
    [disabled]="form.invalid"
  ></simple-action-button>

  <div *ngIf="budgetSchedule.id">保存されました</div>
</form>
{{form.errors}}