<form [formGroup]="$form">
  <label>設定名</label>

  <simple-line-input
    [name]="'name'"
  ></simple-line-input>

  <label>期間</label>
  <term-editor
    [name]="'term'"
  ></term-editor>
  <span class="error" *ngIf="$form.hasError('term', 'termRange')">開始日が終了日を超えていませんか？</span>

  <label>アカウントと予算</label>
  <account-picker
    [accounts]="accounts"
    (onAccountPicked)="handleAccountPicked($event)"
  ></account-picker>
  <account-budgets-sheet
    [$form]="$form"
    [name]="'budgets'"
    (onAccountDelete)="handleAccountDelete($event)"
  ></account-budgets-sheet>
  <span class="error" *ngIf="$form.hasError('budgets', 'arrayLength')">アカウントをひとつ以上選択しましたか？</span>

  <simple-action-button
    [label]="labels.save"
    (onAction)="handleSaveAction()"
    [disabled]="$form.invalid"
  ></simple-action-button>

  <div *ngIf="budgetSchedule.id">保存されました</div>
</form>